<div
  class="flex flex-col items-center gap-10 justify-center mt-12 flex-wrap lg:flex-row"
>
  <button
    class="border-2 rounded-md px-8 py-3 text-lg transition-all cursor-pointer hover:bg-white hover:text-zinc-800"
    (click)="paginate(previousPage)"
    [disabled]="!previousPage"
  >
    Anterior
  </button>
  <button
    class="border-2 rounded-md px-8 py-3 text-lg transition-all cursor-pointer hover:bg-white hover:text-zinc-800"
    (click)="paginate(nextPage)"
    [disabled]="!nextPage"
  >
    Próximo
  </button>
</div>
