<div *ngIf="people; else loading" class="container px-8 pt-11 mx-auto">
  <h1 class="text-center text-5xl font-bold mt-4 mb-20">{{ people.name }}</h1>

  <ul>
    <li class="detail-item"><span>Height</span> {{ people.height }}</li>
    <li class="detail-item"><span>Mass</span> {{ people.mass }}</li>
    <li class="detail-item"><span>Hair Color</span> {{ people.hair_color }}</li>
    <li class="detail-item"><span>Skin Color</span> {{ people.skin_color }}</li>
    <li class="detail-item"><span>Eye Color</span> {{ people.eye_color }}</li>
    <li class="detail-item"><span>Birth year</span> {{ people.birth_year }}</li>
    <li class="detail-item"><span>Gender</span> {{ people.gender }}</li>
  </ul>

  <a
    title="See all peoples"
    class="block w-fit border-2 rounded-md px-8 py-3 mt-20 mx-auto transition-all cursor-pointer hover:bg-white hover:text-zinc-800 hover:no-underline"
    routerLink="/people"
  >
    See all peoples
  </a>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
