@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
  }

  body {
    @apply bg-zinc-800 text-zinc-300;
    height: 100%;
    &:before {
      content: '';
      background-image: url('assets/bg.webp');
      background-size: cover;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.2;
      z-index: -1;
    }
  }

  a {
    @apply cursor-pointer transition-all ease-in hover:ease-out;
    &:hover {
      text-decoration: underline;
      text-shadow: 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa;
    }
  }
}
